<div class="container wrapper">
    <h2>Character Details - {{ characterDetails?.name || characterDetails?.aliases }}</h2>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-nonfluid">
            <tbody class="text-center">
              
              <tr class="success" *ngFor="let character of characterDetails | mapToIterable">
                <td><strong>{{ character?.key }}</strong></td>
                <td>
                  <span *ngIf="isArray(character?.val)">
                    <li *ngFor="let item of character.val">
                        {{ item }}
                    </li>
                  </span>
                  <span *ngIf="!isArray(character?.val)">
                    {{ character?.val }}
                  </span>
                </td>
              </tr>
              
            </tbody>
          </table>
      </div>
    </div>  
  </div>
      