<div class="container wrapper">
  <h2>House Details - {{ houseDetails?.name }}</h2>
  <div class="row">
    <div class="table-responsive">
        <table class="table table-nonfluid">
            <tbody class="text-center">
              
              <tr class="success" *ngFor="let house of houseDetails | mapToIterable">
                <td><strong>{{ house?.key }}</strong></td>
                <td>
                  <span *ngIf="isArray(house?.val)">
                    <li *ngFor="let item of house.val">
                        {{ item }}
                    </li>
                  </span>
                  <span *ngIf="!isArray(house?.val)">
                    {{ house?.val }}
                  </span>
                </td>
              </tr>
              
            </tbody>
          </table>
    </div>
  </div>  
</div>
    