<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-header [filters]="filters" (filterChanged)="onFiltersChange($event)"></app-header>
  <main>
    <div class="row">
      <div class="col-md-6 col-lg-4" *ngFor="let item of data">
        <div class="card bg-light border-info mb-3" [ngClass]="item._type">
          <div class="card-header">
            <h5>{{item.name}}</h5>
          </div>
          <div class="card-body">
            <p>
              <strong>Type : </strong>{{item._type }}
            </p>
            <p>
              <a class="btn btn-primary">Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

