<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="" id="main-nav-content">
      <form class="navbar-form" [formGroup]="filtersForm">

        <div class="checkbox" *ngFor="let filter of filters">
          <label>
            <input 
              type="checkbox"
              [value]="filter.value"
              [formControlName]="filter.value"
              (click)="onFilterClick($event)"
              (ngModelChange)="onFilterChange($event)">
              <div></div>
              <span>{{filter.name}}</span>
          </label>
        </div>

      </form>
    </div>
  </div>
</nav>

<div class="error validation-error" [ngClass]="{'show':showErrMsg === true}">
  <p>{{ config?.errorMsgs?.validationErrors?.atleastOneRequired}}</p>
</div>

